.tbBtn1 {
    background-color: var(--color_1) !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    -webkit-border-radius: 16px !important;
    border-color: var(--color_1) !important;
    color: var(--text-white);
    border: none;
    width: 200px;
    height: 45px !important;
    font-weight: 600 !important;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px !important;
    
}

.tbBtn1:hover {
    transform: translateY(-2px);
    background-color: var(--bg-white) !important;
    color: var(--color_1);
    background-image: none !important;
}