.gdpr-hero {
  height: 500px;
  background: linear-gradient(var(--backdrop), var(--backdrop)),
    url("https://images.pexels.com/photos/669619/pexels-photo-669619.jpeg")
      center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--text-white);
  text-align: center;
}

.gdpr-overlay-content {
  text-align: center;
  z-index: 1;
  background: transparent;
}

.gdpr-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem 2rem;
}

.gdpr-content {
  padding: 3rem 1rem;
  background: #fff;
  color: #333;
}

.gdpr-container {
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.7;
}

.gdpr-container h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* color: var(--primary); */
}

.gdpr-container h3 {
  font-size: 1.5rem;
  /* margin-top: 1.5rem; */
  /* margin-bottom: 0.75rem; */
}

.gdpr-container p,
.gdpr-container li {
  /* margin-bottom: 1rem; */
  font-size: 1rem;
  color: #444;
}

.gdpr-container ul {
  padding-left: 1.5rem;
  list-style: disc;
}
